<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981627375813-k1dndnig9nbufjkg4th63asv46bmfqkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981627375813-k1dndnig9nbufjkg4th63asv46bmfqkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8-p3WIomVZxMfHT7GDyLxmmT-oLzuaA</string>
	<key>GCM_SENDER_ID</key>
	<string>981627375813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientwebapp</string>
	<key>PROJECT_ID</key>
	<string>listly-f1ab7</string>
	<key>STORAGE_BUCKET</key>
	<string>listly-f1ab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981627375813:ios:d572070d77f53da7c0a0ac</string>
</dict>
</plist>